# OpenRouter API ключ (бесплатный) и ключ с Cloud.ru (у меня платный), QDRANT локальный, можно просто скопировать отсюда
OPENROUTER_API_KEY=ваш_ключ_вставьте_сюда
CLOUDRU_API_KEY=ваш_ключ_вставьте_сюда
QDRANT_HOST=qdrant
QDRANT_PORT=6333
